.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner {
    font-size: 16px;
}


.ui-footer p {
    text-align: center;
    margin-bottom: 0.45em;
    margin-top: 0.4em;
}

.ui-footer .ui-btn {
    display: inline-block;
    margin: 0;
}

.infobox {
    background-color: #EDEDED;
    display: none;
    border: 2px solid white;
    border-radius: 20px;
}
    .infobox .status-header{
        font-weight:bold;
    }
    .infobox .status-item {
        margin-top:5px;
    }

#picker {
    height: 20px;
    border-right: 50px solid green;
    line-height: 20px;
}

.item-icon {
    margin-top: 25px;
}

.loading-message {
    background-color: #FFFFFF; 
    display:none;  
}

    .loading-message img {
        float: right;
        margin-top: 5px;       
    }
    .loading-message p {
        float:left;
    }